[submodule "bundle/syntastic"]
	path = bundle/syntastic
    url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = git://github.com/jakar/vim-json.git
